@using MermaidJS.Blazor
@using System.Security.Cryptography
@inject IJSRuntime JS

<div class="mdc-card question-card mb">
    <div class="mdc-typography--headline6 mb">@Question.Text</div>
    <ul>
        @{
            var optionsList = Question.QuestionOptions.OrderBy(o => o.ShuffleGuid).ToList();

            for (int i = 0; i < optionsList.Count; i++)
            {
                var opt = optionsList[i];
                bool isCorrect = Question.CorrectOptions.Contains(opt.Index);
                opt.IsCorrect = isCorrect;
                <QuestionOptionCard QuestionOption="@opt" IsLocked="@Question.IsLocked" OnCheckedChanged="OnOptionCheckedChanged" />
            }
        }
    </ul>
    @if (Question.IsLocked)
    {
        <div class="mdc-typography--subtitle2">
            <b>Correct answer:</b>
            <span class="answer-right">@string.Join(", ", Question.CorrectOptions.Select(i => (char)('A' + i)))</span>
        </div>
        <div class="mdc-typography--subtitle2">
            <b>Explanation:</b>
            <span class="mdc-typography--body1">@Question.Explanation</span>
        </div>
        <MermaidDiagram Definition="@Question.Diagram"/>
    }
</div>

@code {
    [Parameter]
    public Question Question { get; set; }

    [Parameter]
    public EventCallback<Question> OnAnswered { get; set; }

    async Task OnOptionCheckedChanged(QuestionOption qo)
    {
        Question.SelectedOptions.Remove(qo.Index);

        if (qo.IsSelected)
        {
            Question.SelectedOptions.Add(qo.Index);
        }
        Question.WasCorrect = Question.CorrectOptions.Contains(qo.Index)
                                && Question.SelectedOptions.Count() == Question.CorrectOptions.Count();
        await OnAnswered.InvokeAsync(Question);
        await RenderMermaid();
        StateHasChanged();
    }

    async Task RenderMermaid()
    {
        await JS.InvokeVoidAsync("initializeMermaid");
        string mermaidDefinition = @"
            graph TD;
                A-->B;
                A-->C;
                B-->D;
                C-->D;
        ";
        await JS.InvokeVoidAsync("renderMermaid", "mermaidChart", mermaidDefinition);
    }
}
